/* funding-types.css
    CSS rules for the available funding types page (funding-types.html)
	 ========================================================================== */

body {
    padding: 2.5rem 0 1.5rem 0;
    margin: 0;
    background-color: #ECEDED;
}

.header {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: #6F9E94;
    margin: 0;
}

nav{
    border-bottom: 0.15rem solid #14795F;
    padding-top:1.25rem;
    padding-bottom:1.25rem;
}

.homepage-button {
    color: #14795F;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size:0.875rem;
    margin-left:1.5rem;
}

.homepage-button:hover, .homepage-button:focus {
    color: #6F9E94;
    transition: 0.2s ease-in-out;
}

header{
    margin-bottom:2rem;
}

header p{
    font-weight: 400;
    font-size: 1rem;
    margin:0;
    margin-top:4rem;
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* Mobile font size for header h1 elements
        Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
    font-size:1.5rem;
    font-weight:700;
    color: black;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

.box {
    display: block;
    background-color: white;
    padding:3rem 2rem 2.75rem 1.75rem;
    border-radius: 0.2rem;
    margin: 0;
    position:relative;
}

.green-box {
    display: block;
    background-color: #14795F;
    padding: 1rem 1.5rem;
    margin: 0;
    
}

#categories{
    padding:0 1.5rem;
}

.button:hover, .button:focus {
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    background-color: #6F9E94;
    color: white;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1, header p{
    padding: 0 1.5rem;
}


#types {
    margin-top: 1rem;
}
#types h1 {
    color: white;
    margin-top: 0;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section h1 {
    font-size: 2rem;
    font-family: Montserrat;
    color: black;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}

.green-box h2{
    color: white;
}

section h2, h3{
    font-weight:700;

}

section p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

section div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    row-gap:1rem;
}

.img-top-right{
    position:absolute;
    right:0;
    top:0;
    margin-top:1.2rem;
    margin-right:1.5rem;

    width:auto;
    height:4rem;

    z-index:0;
}

.img-top-right.horizontal{
    margin-top:2rem;
    height:1.75rem;
}

/* Media queries
	 ========================================================================== */

@media (width > 39.375rem) {
    .green-box{
        padding: 1rem 4.5rem;
    }
    
    h1, header p, #categories{
        padding: 0 4.5rem;
    }

    .homepage-button{
        font-size:1rem;
        padding-left: 3rem;
    }
}


@media (width > 62rem){
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
    
    .line-one, .line-two{
        display:inline;
    }
}