/* .homepage-header{
    display:flex;
    flex-direction:column;
    justify-content: center;
} */

*{
    box-sizing:border-box;
}

.grid{
    display:grid;
    row-gap:0.5rem;
}


.grid.filter.buttons{
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

/* 574px / 16px = 35.875rem */
@media (width > 35.875rem){
    header .grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
    }

    .quiz-prompt{
        display:block;
    }

    .button.white{
        display:inline-block;
        padding:1rem 2rem !important;
    }

}

@media (width > 43.125rem){
    .grid.results{
        grid-template-columns: 1fr 1fr;
        column-gap:0.75rem;
    }

    .info-card:not(.more-info){
        height:18.5rem;
    } 
}

.grid.button.filter.search{
    grid-template-columns: 1fr;
}

.button.filter.inline{
    display:inline-block;
}

.info-card a{
    display: block;
}