*{
    box-sizing:border-box;
}

.grid{
    display:grid;
    row-gap:1rem;
}

.text-above-filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

details div{
    display:grid;
    row-gap:0.25rem;
}

.dropdowns{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.grid.button.filter.search{
    grid-template-columns: 1fr;
}

.button.filter.inline{
    display:inline-block;
}

@media (width > 39.375rem){

    main, .quiz-prompt, header{
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    main{
        padding-top: 3.5rem;
        padding-bottom:4rem;
    }

    .quiz-prompt{
        display:block;
    }

    .button.white{
        display:inline-block;
        padding:1rem 2rem;
    }

    h1{
        /* Using tablet font size for *display* h1 elements
            Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
        font-size: 3.125rem;
        /* Making its max width bigger so it is split into 2 lines instead of 3 */
        max-width:27rem;
    }

    header p{
        /* Using tablet font size for body copy paragraph elements
            Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
        font-size:1.125rem;
        /* Making max width bigger to fit more words on the first line */
        max-width:26rem;
    }

    .quiz-prompt h2{
        /* Using tablet font size for heading h2 elements
            Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
        font-size:1.5rem;
    }

    main h2{
        /* Using tablet font size for *display* h2 elements
            Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
        font-size:2.5rem;
    }

    .info-card h3, .info-card em{
        font-size:1.25rem;        
    }

    .info-card{
        grid-template-columns: 1fr 1fr;
    }

    .info-card ul, .info-card h3, .info-card .text.type, .info-card em{
        grid-column: span 2;
    }

    .info-card ul{
        margin-top:0.25rem;
    }

    .info-card a{
        position:relative;
        bottom:1.25rem;
        margin-top: 0;
        margin-bottom:0;
        margin-left:20%;
    }

}

@media (width > 43.375rem){
    header section .grid{
        max-width:40.25rem;
    }

    header .grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
    }

    .info-card{
        max-height:18rem;
    }

}

@media (width > 56.875rem){
    .grid.results{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap:1.5rem;
        row-gap:1.5rem;
    }

    .info-card{
        grid-template-columns: 1fr;
    }

    .info-card ul, .info-card h3, .info-card .text.type, .info-card em{
        grid-column: span 1;
    }

    .info-card ul{
        margin-top:0.15rem;
    }

    .info-card em{
        margin-top:2rem;
    }

    .info-card a{
        position:static;
        bottom:auto;
        margin-left:1.5rem;
        margin-bottom:1.25rem;
    }

}

@media (width > 68.0625rem){
    .info-card{
        grid-template-columns: 1fr 1fr;
    }

    .info-card ul, .info-card h3, .info-card .text.type, .info-card em{
        grid-column: span 2;
    }

    .info-card ul{
        margin-top:0.25rem;
    }

    .info-card a{
        position:relative;
        bottom:1.25rem;
        margin-top: 0;
        margin-bottom:0;
        margin-left:20%;
    }
}

@media (width > 98.0625rem){
    header section{
        margin-left:20vw;
    }

    .quiz-prompt h2, .quiz-prompt p, .quiz-prompt a{
        margin-left:18vw;
    }

    header section{
        text-align:left;
    }

    header section .grid{
        max-width:41rem;
    }

    h1{
        font-size:3.75rem;
        max-width:34rem;
    }

    header p{
        font-size:1.25rem;
        max-width:24rem;
    }

    main{
        padding:3.5rem 4.5rem;
    }

    .quiz-prompt h2{
        font-size:1.65rem;
    }

    .grid.filter{
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
    }
    
    .details.open{
        width:48.5%;
    }

    .grid.results{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info-card{
        max-height:20.75rem;
    }

    .info-card h3, .info-card em{
        font-size:1.5rem;        
    }
    
    .info-card li, .info-card .text.type, .info-card .text.deadline, .info-card a{
        font-size:1rem;
    }

    .info-card{
        grid-template-columns: 1fr;
    }

    .info-card ul, .info-card h3, .info-card .text.type, .info-card em{
        grid-column: span 1;
    }

    .info-card ul{
        margin-top:0.15rem;
    }

    .info-card em{
        margin-top:2rem;
    }

    .info-card a{
        position:static;
        bottom:auto;
        margin-left:1.5rem;
        margin-bottom:1.25rem;
    }
}

@media (width > 113.75rem){
    .info-card{
        grid-template-columns: 1fr 1fr;
        max-height:18.25rem;
    }

    .info-card ul, .info-card h3, .info-card .text.type, .info-card em{
        grid-column: span 2;
    }

    .info-card h3{
        max-width: 27rem;
    }

    .info-card ul{
        margin-top:0.5rem;
    }

    .info-card a{
        position:relative;
        bottom:1.25rem;
        margin-bottom:0;
        margin-left:20%;
    }
}
