/* .homepage-header{
    display:flex;
    flex-direction:column;
    justify-content: center;
} */

*{
    box-sizing:border-box;
}

.grid{
    display:grid;
    row-gap:0.5rem;
}

.grid.filter.buttons{
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

.grid.button.filter.search{
    grid-template-columns: 1fr;
}