/* 
    Colors:
        Darker green: #14795F
        Medium green: #6F9E94
        Lighter green: #96C6B3
        Dark gray: #4D4D4D

*/

/* Info card for home page
	 ========================================================================== */

    /* Setting the information card text to Open Sans*/
    .info-card.home p{
        font-family:'Open Sans', sans-serif; 
        font-weight: 600; /* Semibold font weight is 600 */ 
    }

    .info-card.home li, .info-card.home h3, .info-card.home em, .info-card.home .learn-more{
        font-family:'Montserrat', sans-serif;
        font-weight:bold;
        font-style:normal;
    }

    .info-card.home p, .info-card.home ul, .info-card.home h3, .info-card.home em{
        padding:0 1.5rem;  
        margin:0;
    }

    /* Styling the information card div */
    .info-card, .info-card.home{
        display:grid;
        row-gap:0.5rem;

        background-color:white;
        border-radius: 0.5rem;

        max-width:25rem;
    }

    /* Styling the category tags */
    .info-card.home ul{
        list-style:none;
        padding-top:1rem;
    }
    
    .info-card li{
        display:inline-block;
        color:#14795F;
        text-align:center;
        font-size:0.8rem;
        margin-right:0.75rem;
    }

    /* Styling the grant title */
    .info-card.home h3{
        font-size:1.4rem;
    }

    /* Styling the grant type */
    .info-card.home .text.type{ 
        font-size:1.05rem;
        font-weight:600; /* Semibold font weight is 600 */
    }

    /* Styling the grant amount */
    .info-card.home em{
        font-size:1.5rem;
        padding-top:1.5rem;
    }

    /* Styling the application deadline */
    .info-card.home .text.deadline{
        color:black;
        font-size:1.05rem;
        font-weight:600;
        margin-top:-0.25rem;
    }
    
    /* Styling the "Learn More!" and "More Info" buttons */
    .learn-more{
        color:#14795F;
        border:0.15rem solid #14795F;
        border-color:#14795F;
        font-size: 1rem;
        text-align:center;
        text-decoration: none;

        border-radius: 0.25rem;
        margin:0.5rem 1.5rem 1.15rem 1.5rem;
        padding:0.5rem 0;
    }
    
    /* Stying hover and focus states for info card buttons */
    .learn-more:hover, .learn-more:focus, .more-info:hover, .more-info:focus{
        background-color:#B3B3B3;
        text-decoration:underline;
        text-decoration-color:white; /* Resource: https://www.w3schools.com/cssref/css3_pr_text-decoration-color.php */
    }

    



