/* Colours:
    Black #000000 
    White #FFFFFF
    Dark gray #4D4D4D
    Light gray #B3B3B3
    Blue #5050FF
*/

*{
    font-family:'Open Sans', sans-serif;
}

/* Header
	 ========================================================================== */

/* Navigation bar */
.nav-bar{
    margin:0;
    background-color:#5050FF;
    padding:1rem;
}

header section{
    margin:6rem 1.5rem;
}

h1, main h2{
    font-family:'Montserrat', sans-serif;
    font-size:2.5rem;
}

h1{
    max-width:24.375rem;
}

header p{
    font-size:1.05rem;
    margin-bottom:2rem;
    max-width:20rem;
}

.button.blue{
    background-color:#5050FF;
}

.button.gray{
    background-color:#B3B3B3;
}

.button{
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:0.9rem;
    color:white;
    text-decoration:none;
    text-align:center;
    margin:0;
    padding:1.25rem;
    border-radius:0.85rem;
}

/* Quiz prompt section
	 ========================================================================== */

.quiz-prompt{
    background-color:#B3B3B3;
    padding:1.5rem;
}

.quiz-prompt h2, .quiz-prompt p{
    color:white;
}

.quiz-prompt p{
    margin-top:-0.5rem;
}

.button.white{
    color:#4D4D4D;
    background-color:white;
    font-size:1rem;
    padding:0.75rem;
    margin-bottom:1.5rem;
}

/* Funding Opportunities section
	 ========================================================================== */

main{
    margin:1.5rem;
}

/* Styling the "Sort by" text */
main .text.light-gray{
    color:#B3B3B3;
    font-weight:600; /* Semibold font weight is 600 */
    font-size:1.25rem;
    margin:-0.5rem 0 0.75rem 0;
}

/* Styling the filter buttons (Category and Type buttons) and search bar */
.button.filter{
    color:#4D4D4D;
    font-weight:600; /* Semibold font weight is 600 */
    border: 0.15rem solid;
    text-align:left;
    font-size:1rem;
    padding:1rem;
}

/* Changing the outline colour when selecting the "Search by title..." button
    --> Resource for changing the outline colour when selecting a text input:
        https://stackoverflow.com/questions/43427993/change-the-color-of-a-input-field-when-selected */
.button.filter.search:focus{
    outline-color:#5050FF;
}

/* Styling the "6 results" text */
.text.gray{
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:1.4rem;
    margin-top:2.5rem;
}

/* Styling the information card div */
.info-card{
    border: 0.15rem solid #4D4D4D;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    margin-bottom:2rem;
    z-index:1;
}

/* Setting the information card text to Open Sans*/
.info-card p{
    font-family:'Open Sans', sans-serif;
    padding:0 1.5rem;   
}

/* Styling the grant title */
.info-card h3{
    font-weight:normal;
    font-size:1.4rem;
    margin-bottom:-0.25rem;
    padding:0 1.5rem;   
}

/* Styling the grant type */
.info-card .text.type{ 
    font-weight:normal;
    font-size:1rem;
    color:#4D4D4D;
    margin-bottom:0.5rem;
}

/* Styling the grant amount */
.info-card em{
    font-weight:600; /* Semibold font weight is 600 */
    font-size:1.65rem;
    font-style:normal;
    padding:0 1.5rem;   
}

/* Styling the application deadline */
.info-card .text.deadline{
    font-weight:normal;
    font-size:1.25rem;
    font-style:normal;
    margin-top:0.5rem;
}

/* Styling the category tags */
.info-card ul{
    padding:0;
    list-style:none;
    padding:0 1.5rem;  
    margin:-0.75rem 0 1.5rem 0; 
}

.info-card .button.filter.inline{
    color:#5050FF;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    font-size:1rem;
    font-weight:normal;
    padding:0.25rem 1rem;
    border-radius:0.35rem;
    margin-top:0.45rem;
    margin-right:0.25rem;

}

/* Styling the "More info" button */
.info-card.more-info, .info-card.more-info a {
    background-color: #4D4D4D;
    font-weight: 600; /* Semibold font weight is 600 */
    text-align: center;
    font-size: 1.35rem;
    color: white;
    width: 100%;
    text-decoration: none;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    z-index: 2;
}

.info-card.more-info {
    margin-top: -2.75rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.info-card.more-info a {
    padding: 1rem;
}

.info-card.more-info:hover,.info-card.more-info:focus,.info-card.more-info a:hover,.info-card.more-info a:focus{
    background-color:#5050FF;
    border-color:#5050FF;
}