/* Colours:
    Black #000000 
    White #FFFFFF
    Dark gray #4D4D4D
    Light gray #B3B3B3
    Blue #5050FF
*/

*{
    font-family:'Open Sans', sans-serif;
}

/* Header
	 ========================================================================== */

/* Navigation bar */
.nav-bar{
    margin:0;
    background-color:#5050FF;
    padding:1rem;
}

header section{
    margin:6rem 1.5rem;
}

h1{
    font-family:'Montserrat', sans-serif;
    font-size:2.5rem;
}

header p{
    font-size:1.05rem;
    margin-bottom:2rem;
}

.button.blue{
    background-color:#5050FF;
}

.button.gray{
    background-color:#B3B3B3;
}

.button{
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:0.9rem;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:1.25rem;
    border-radius:0.85rem;
}
