/* Colours:
    Black #000000 
    White #FFFFFF
    Dark gray #4D4D4D
    Light gray #B3B3B3
    Blue #5050FF
*/

*{
    font-family:'Open Sans', sans-serif;
}

/* Header
	 ========================================================================== */

/* Navigation bar */
.nav-bar{
    margin:0;
    background-color:#5050FF;
    padding:1rem;
}

header section{
    margin:6rem 1.5rem;
}

h1, main h2{
    font-family:'Montserrat', sans-serif;
    font-size:2.5rem;
}

header p{
    font-size:1.05rem;
    margin-bottom:2rem;
}

.button.blue{
    background-color:#5050FF;
}

.button.gray{
    background-color:#B3B3B3;
}

.button{
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:0.9rem;
    color:white;
    text-decoration:none;
    text-align:center;
    margin:0;
    padding:1.25rem;
    border-radius:0.85rem;
}

/* Quiz prompt section
	 ========================================================================== */

.quiz-prompt{
    background-color:#B3B3B3;
    padding:1.5rem;
}

.quiz-prompt h2, .quiz-prompt p{
    color:white;
}

.quiz-prompt p{
    margin-top:-0.5rem;
}

.button.white{
    color:#4D4D4D;
    background-color:white;
    font-size:1rem;
    padding:0.75rem;
    margin-bottom:1.5rem;
}

/* Funding Opportunities section
	 ========================================================================== */

main{
    margin:1.5rem;
}

main .text.light-gray{
    color:#B3B3B3;
    font-weight:600; /* Semibold font weight is 600 */
    font-size:1.25rem;
    margin:-0.5rem 0 0.75rem 0;
}

/* Filter buttons and search bar */
.button.filter{
    color:#4D4D4D;
    font-weight:600; /* Semibold font weight is 600 */
    border: 0.15rem solid;
    text-align:left;
    font-size:1rem;
}
