/* main.css
    CSS rules for the quiz pages (quiz-start.html, quiz-q1.html, etc.)
	 ========================================================================== */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 1.5rem;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    position:relative;
    overflow-x:hidden;
}

/* Background image of leaves 
    Using 1 SVG image and repeating it with background-repeat
    Resources: 
        https://stackoverflow.com/questions/8679066/make-image-not-background-img-in-div-repeat
        https://www.w3schools.com/css/css_background_repeat.asp
        https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
*/
.background-image{
    background-repeat: repeat-x;
    background-image: url("../images/embark-leaves.svg");

    position:absolute;
    left:-1.5rem;
    width:100vw;
    z-index:-1;
}

.background-image.top{
    height:8rem;
    top:0;
    background-position: -2rem -10rem;
}

.background-image.bottom{
    height:16rem;
    background-position: -6rem 0rem;
    bottom:0;
}

.homepage-button, h1, legend, .button{
    font-family: 'Montserrat', sans-serif;
}

.homepage-button{
    display:block;
	font-weight: bold; 
	font-size: 0.875rem;
	color:#14795F;
	text-decoration: none;
    margin-top:8rem;
}

.homepage-button:hover, .homepage-button:focus{
    transition: 0.2s;
    color: #6F9E94;
}

h1{
    font-size: 2rem;
    margin-bottom:0;
    max-width:100vw;
}

/* h1 ~ p selects paragaph elements the come after h1 elements
    Resource: https://developer.mozilla.org/en-US/docs/Web/CSS/Subsequent-sibling_combinator */
h1 ~ p{
    margin-top:2rem;
    margin-bottom:5rem;
}

legend{
    visibility:hidden;
}

p{
    font-size:1.05rem;
    color: #4D4D4D;
}

.results-text{
    margin-top:1rem;
    margin-bottom:2rem;
    max-width:100vw;
}

nav{
    display:grid;
}

/* Selecting all paragraph elements that come after an <h2> tag 
    Resource: https://stackoverflow.com/questions/7627910/target-all-p-elements-that-follow-an-h2-with-css
    * Note: Originally had an <h2> and <div>, but later changed it to a <fieldset> with <legend>. So, now using this for <p> elements that come after <legend> tags
*/
legend ~ p{
    font-style:italic;
    font-weight:600;
    margin-top: 0.5rem;
    margin-bottom:2rem;
}

.button{
    display:grid;

    font-weight:bold;
    font-size:1rem;
    color:white;
    text-decoration:none;
    text-align:center;

    margin:0;
    padding:1rem;
    border-radius:0.5rem;
}   

.solo.button.green{
    margin-top:auto;
    margin-bottom:8rem;
}

.button.green{
    background-color:#14795F;
    margin-top:auto;
    margin-bottom:1rem;
}

.button.light-green{
    background-color:#96C6B3;
    margin-bottom:4rem;
}

.button.green:hover, .button.green:focus, .button.light-green:hover, .button.light-green:focus{
    background-color:#B3B3B3;
    transition:0.2s;
}

fieldset{
    /* Removing the border on the fieldset
        Resource: https://stackoverflow.com/questions/4230375/whats-the-easiest-way-to-remove-fieldset-border-lines */
    border:none;
    padding:0;
    margin-top:0;
    margin-bottom:4rem;
}

fieldset p{
    margin-top:0;
}

/* Selecting paragraphs that come after label elements
    Resource: https://developer.mozilla.org/en-US/docs/Web/CSS/Subsequent-sibling_combinator */
label ~ p{
    margin-left:2.25rem;
}

/* The following code is referenced from: https://www.a11ymatters.com/pattern/checkbox/
    These rules create a custom checkbox design, while allowing keyboard user to access the checkboxes and check them. 
*/

label{
    user-select:none;
    font-size:1.2rem;
    font-weight:600; /* Semibold font weight is 600 */
}

/* Hiding the checkbox visually, but still keeping it in the DOM for screen readers and keyboard users */
.input-checkbox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Custom checkbox design */
.quiz-choices-item label{
    cursor:pointer;
    display:inline-block;
    position:relative;
}

/* Custom checkbox design */
.quiz-choices-item label:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid #14795F;
    border-radius:0.25rem;
    margin-right:1rem;
}

/* Hover state for label (option text) */
.quiz-choices-item label:hover{
    color: #14795F;
}

.quiz-choices-item input:checked + label:before{
    background:#14795F;
}

/* Focus design */
.quiz-choices-item input:focus-visible + label{
    outline: dashed 2px #96C6B3;
    outline-offset: 5px;
}

/* Code from https://www.a11ymatters.com/pattern/checkbox/ resource ends here */

.quiz-choices-item{
    padding-bottom:1rem;
    padding-right:1rem;
    background-color:white;
    max-width:45rem;
}

.grid.results{
    margin-bottom:4rem;
    max-height:42rem;
    overflow-y: scroll;
    background-color:#ECEDED;
    padding:1rem;
    border-radius:0.65rem;
    row-gap:1rem;
}

.info-card.quiz {
    display: none;  /* Start by hiding all cards */
}

.info-card.quiz.show {
    display: grid;  /* Show cards that match the filter */
}

@media (width > 39.375rem){
    body{
        padding-left:4.5rem;
        padding-right:4.5rem;
    }

    .homepage-button{
        font-size:1rem;
    }

    h1{
        /* Using tablet font size for heading h1 elements
            Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
        font-size: 2.125rem;
    }

    p, label{
        /* Using tablet font size for body copy paragraph elements
            Reference: https://boosted.orange.com/docs/4.6/content/typography/ */
        font-size:1.125rem;
    }

    .background-image.bottom{
        bottom:-3rem;
    }
}

@media (width > 43.375rem){

    nav{
        grid-template-columns: 15rem 15rem;
        column-gap: 1.5rem;
    }

    .longer{
        grid-template-columns: 25rem 15rem;
    }

    .button{
        margin-bottom:8rem !important;
    }

    .button.green{
        order:1;
    }

    .button.light-green{
        order:0;
    }

    p{
        max-width: 50rem;
    }
}

@media(width > 98.0625rem){
    .background-image{
        background-repeat: repeat-x;
        background-image: url("../images/embark-leaves.svg");
        background-size: 25rem;
    
        position:absolute;
        left:-2rem;
        width:100vw;
    
        z-index: -1;
    }
    
    .background-image.top{
        height:25rem;
        top:-10rem;
        background-position: 2rem -10rem;
    }
    
    .background-image.bottom{
        height:25rem;
        background-position: -2rem 0rem;
        bottom:0;
    }
}