/* grid.css
    Contains main CSS rules for formatting such as display rules and media queries.    

    Author: Bianca Dimaano 301550989, email: fbd1@sfu.ca
*/

*{
    box-sizing:border-box;
}

.nav-bar {
    display: flex; 
    justify-content: space-between;
}

/* Need to change em to inline-block so that margin-top can apply */
.info-card em, .button.filter.inline{
    display:inline-block;
}

/* One issue: 
    Navigation bar breaks when the hamburger menu is open and then reaches this breakpoint
    Fix: Need JavaScript to uncheck the hamburger menu checkbox
*/
@media (width > 65rem){
    /* Resource for grid template areas: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas 
        Allows for info-card to be in its own column on the left, while description and requirements are in their own column on the right. */
    main {
        display: grid;
        grid-template-columns: 30rem 1fr;
        grid-template-areas:
            "info description"
            "info requirements";
    }

    .info-card {
        grid-area: info;
    }
    
    .description {
        grid-area: description;
        margin-right:2.5rem;
    }
    
    .requirements {
        grid-area: requirements;
        margin-top:-18rem !important;
        margin-right:2.5rem;
    }

    /* Modifying margins for header title and paragraphs, and info card */
    header section{
        margin-top:3rem;
        margin-left:4rem;
    }

    header section a{
        margin-top:6rem;
        margin-bottom:1rem;
    }

    .info-card, .learn-more{
        margin-left:2.5rem;
    }

    /* Make the learn more button at the bottom of the screen not render on the page */
    main section .learn-more{
        display:none; /* Resource: https://www.freecodecamp.org/news/css-display-none-and-visibility-hidden-the-difference/ */
    }

    /* Switching from hamburger menu to normal navigation bar */
    .hamburger-menu {
        display: none; /* Hide the hamburger menu */
    }

    .nav-bar{
        margin-top:-4rem;
        margin-bottom:4rem;
    }

    .nav-item.logo{
        margin-left:2.5rem;
    }

    .nav-bar ul {
        display: flex;
        justify-content: flex-end;
        box-shadow:0 0 0 0;
    }

    .nav-bar li {
        margin:-0.7rem 0 0.5rem 4rem;
    }

}

@media (width > 80.6875rem)
{
    .requirements{
        margin-top:-20rem !important;
    }
}

@media (width > 98.875rem){

    /* Modifying margins for header title and paragraphs, and main section with info card + description + requirements */
    header section, main{
        max-width:75%;
        margin-left:auto;
        margin-right:auto;
    }

    .nav-bar ul{
        padding-right:12.5%;
    }

    .nav-item.logo{
        margin-left:12.5%;
    }

    header section{
        padding-left:2.5rem;
    }

    main section p, main section ul{
        max-width:none;
    }
}