/* Colours:
    Black #000000 
    White #FFFFFF
    Dark gray #4D4D4D
    Light gray #B3B3B3
    Blue #5050FF
*/

*{
    font-family:'Open Sans', sans-serif;
}

/* Header
	 ========================================================================== */

/* Navigation bar */
.nav-bar{
    margin:0;
    background-color:#5050FF;
    padding:1rem;
}

/* Adding margins to the header section */
header section{
    margin:1.5rem 1.5rem;
}

/* Styling the "Go Back to Funding Opportunities" button */
header section a{
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:0.95rem;
    display:block;
    color:#4D4D4D;
    text-decoration:none;
}

header section a:hover, header section a:focus{
    color:#5050FF;
    text-decoration:underline;
}

/* Styling the header section paragraphs -> Location and Organization */
header section p{
    font-weight: 600;
    color:#4D4D4D;
    font-size:1.25rem;
    margin-top:2rem;
}

/* Styling the page title */
h1{
    font-family:'Montserrat', sans-serif;
    font-size:2.25rem;
    margin:-0.25rem 0 -0.75rem 0;
    max-width:26.5rem;
}

/* Info card
	 ========================================================================== */

main{
    margin:1.5rem;
}

/* Styling the information card div */
.info-card{
    border: 0.15rem solid #4D4D4D;
    margin-top:2.5rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    max-width:21.5rem;
    z-index:1;
}

/* Styling the "Learn More!" button */
.learn-more{
    background-color: #5050FF;
    border-color:#5050FF;
    text-align: center;
    font-size: 1.35rem;
    padding:1rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    margin:-0.25rem 0 3rem 0;
    max-width:21.5rem;
    z-index: 2;
}

.learn-more:hover, .learn-more:focus{
    background-color:#4D4D4D;
    text-decoration:underline;
    text-decoration-color:white; /* Resource: https://www.w3schools.com/cssref/css3_pr_text-decoration-color.php */
}

.learn-more a{
    color:white;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

/* Styling the grant amount */
.info-card em{
    font-weight:600; /* Semibold font weight is 600 */
    font-size:2rem;
    font-style:normal;
    padding:0 1.5rem; 
    margin:1.25rem 0 0.5rem 0;
}

/* Styling the category tags */
.info-card ul{
    padding:0;
    list-style:none;
    padding:0 1.5rem;  
    margin:0.25rem 0 1.5rem 0; 
}

.info-card .button.filter.inline{
    color:#4D4D4D;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    font-size:1rem;
    font-weight:normal;
    padding:0.35rem 1.25rem;
    border-radius:0.35rem;
    margin-top:0.45rem;
    margin-right:0.25rem;

}

.button.filter{
    color:#4D4D4D;
    font-weight:600; /* Semibold font weight is 600 */
    border: 0.15rem solid;
    text-align:left;
    font-size:1rem;
    padding:1rem;
}

/* Styling the grant headings */
.info-card h2{
    font-weight:normal;
    font-weight:600; /* Semibold font weight is 600 */
    font-size:1rem;
    padding:0 1.5rem;   
}

/* Styling the grant information */
.info-card p{
    font-family:'Open Sans', sans-serif;
    font-size:1.25rem;
    margin-top:-0.5rem;
    padding:0 1.5rem;   
}

.info-card h2, .info-card p{
    color:#4D4D4D;
}

/* Description & Requirements
	 ========================================================================== */

/* Styling the section titles */
main section h2{
    font-size:2rem;
    font-weight:600; /* Semibold font weight is 600 */
}

/* Styling the paragraphs and requirement list */
main section p, main section ul{
    color:#4D4D4D;
    font-size:1rem;
    margin-top:-0.75rem;
    max-width:31.5em;
}

/* Adding top and bottom margins to requirements */
.requirements{
    margin:2.5rem 0 2.5rem 0;
}

/* Adding top, bottom, and left margins to the requirement list */
main section ul{
    margin:-0.25rem 0 1.5rem -1.25rem;
}

/* Adding top margin and rounding corners of the Learn More! button */
main section .learn-more{
    margin-top:2rem;
    border-radius:0.75rem;
}