/* Colours:
    Black #000000 
    White #FFFFFF
    Dark gray #4D4D4D
    Light gray #B3B3B3
    Blue #5050FF
*/

*{
    font-family:'Open Sans', sans-serif;
}

/* Header
	 ========================================================================== */

/* Navigation bar */
.nav-bar{
    margin:0;
    background-color:#5050FF;
    padding:1rem;
}

header section{
    margin:1.5rem 1.5rem;
}

header section a{
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:0.95rem;
    display:block;
    color:#4D4D4D;
    text-decoration:none;
}

header section p{
    font-weight: 600;
    color:#4D4D4D;
    font-size:1.25rem;
    margin-top:2rem;
}

h1{
    font-family:'Montserrat', sans-serif;
    font-size:2.25rem;
    margin:-0.25rem 0 -0.75rem 0;
}

/* Info card
	 ========================================================================== */

main{
    margin:1.5rem;
}

/* Styling the information card div */
.info-card{
    border: 0.15rem solid #4D4D4D;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    margin-bottom:2rem;
    z-index:1;
}

/* Styling the grant amount */
.info-card em{
    font-weight:600; /* Semibold font weight is 600 */
    font-size:2rem;
    font-style:normal;
    padding:0 1.5rem;   
}

/* Styling the grant headings */
.info-card h2{
    font-weight:normal;
    font-size:1rem;
    padding:0 1.5rem;   
}

/* Styling the grant information */
.info-card p{
    font-family:'Open Sans', sans-serif;
    padding:0 1.5rem;   
}